// 色変数

// gray scale
$color-black: #333;
$color-dark-gray: #666;
$color-gray: #999;
$color-light-gray: #CCC;
$color-white: #FFF;

// background
$color-cream: #FFFAFA;

// accent black
$color-navy: #002767;

// accent color
$color-light-orange: #FFBC6A;
$color-orange: #FF9E28;
$color-dark-orange: #D8841C;